doctype html
html(lang="en")
    head
        // Meta properties
        meta(name="author" content="Andrew Havis")
        
        // Page title
        title= "Civil Service Technical Test"
    body
        h1= "Civil Service Technical Test"